body{
    background-color: #fbfbfb;
}
hr{
    border: none;
    height: 3px;
    background-color: #333;
    width:20%;
    margin: auto;
}

.image-profile{
    width: 70%;
}
.color-pri{
    background-color: #399cff;
}
.color-text-pri{
    color: #399cff;
}
.link-profile{
    color:white; text-decoration: none;
}
.link-profile:hover{
    color:white; text-decoration: underline;
}
.content-background{
    background-color: #f8f8f8;
}
.text-just{
    text-align: justify;
}
.content-background-title{
    background-color: #dadada; color: #393939; font-weight: bold;
}
.content-text-title{
    color: #393939; font-weight: bold;
}